* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    font-family: cursive;
    font-size: 62.5%;
    background-color: #401437;
    
}

#contenedor {
    width: 90%;
    height: 100%;
    margin: 0px auto;
    border: 1px solid rgba(225, 225, 226, 0.8);
    box-shadow: 0px 0px 10px #cccccc;

}

#header {
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    margin: 0px auto;
    align-items: center;
    border-bottom: 1px solid rgba(225, 225, 226, 0.8);
}

#logo {
    width: 40%;
    flex-grow: 1;
    flex-basis: 50%;
    font-family: Helvetica;
    font-style: italic;
    font-size: 5vw;
    padding: 10px;
    margin-left: 10px;
    text-transform: uppercase;
    color: #fe3b72;

}

#menulogo {
    display: none;
}



#menu {
    flex-grow: 1;
    flex-basis: 40%;
    height: 100%;
    width: 30%;
    padding-right: 20px;
}

#menu ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: right;
    list-style: none;
    height: 100%;
}

 
#menu a {
    text-transform: uppercase;
    color: #fcc219;
    font-size: 1vw;
    padding: 10px;
    margin-left: 10px;
    transition: all 300ms;
    border: 2px solid #fe3b72;
border-color: 1px solid gray;
    list-style: none;
}

#menu a:hover {
    border: 2px solid #087f5b;

}

.paginas {
    width: 90%;
    height: 90vh;
    margin: 0px auto;
    border: 1px solid rgba(225, 225, 226, 0.8);
    box-shadow: 0px 0px 10px #cccccc;
    display: flex;
    flex-direction: row;

}

.paginas div {

    width: 100%;
    align-items: center;
    align-content: center;
    margin: 0px auto;

    border: 1px solid rgba(225, 225, 226, 0.8);
    box-shadow: 0px 0px 10px #cccccc;


}

#laterali1,
#laterali2 {
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: center;

}

#laterali1 h1 {
    margin-top: 20px;
    margin-left: 10px;
    color: #fe3b72;
    font-size: 7vh;
    text-align: left;

}

#laterali2 h2 {
    margin-top: 20px;
    color: white;
    margin-left: 20px;

    font-size: 5vh;
    text-align: left;

}

#laterali2 h3 {
    color: #fe3b72;
    font-size: 4vh;
    margin-left: 20px;
    text-align: left;

}
#laterali2 p {
    color: white;
    font-size: 2.5vh;
    text-align: justify;

    margin: 20px;


}

#laterali1 h2 {
    margin-top: 20px;
    margin-left: 20px;
    color: white;
    font-size: 6vh;
    text-align: left;

}



#laterali1 button,
#laterali2 button
 {
    margin: 20px ;
    border-color: 100px solid black ;
    background-color: #fcc219;
    color: black;
    font-size: 5vh;
    cursor: pointer;


}




.imagenes {
    display: flex;
    justify-content: center;
    text-align: center;

}

img {
    text-align: center;
    justify-content: center;
    width: 70%;
    border: 5px solid #04c35b;

    height: width;
    margin: 30px;
}

.paginas1 {
    width: 90%;
    height: 100vh;
    margin: 0px auto;
    border: 1px solid rgba(225, 225, 226, 0.8);
    box-shadow: 0px 0px 10px #cccccc;
    display: flex;
    flex-direction: row;

}

.paginas1 div {

    width: 100%;
    align-items: center;
    align-content: center;
    margin: 0px auto;
    border: 1px solid rgba(225, 225, 226, 0.8);
    box-shadow: 0px 0px 10px #cccccc;

}

.paginas1 h3{
align-items: center;
    color: #fe3b72;
    font-size: 10vh;
}
.paginas1 h2{
    align-items: center;
     color: white;
    font-size: 2.5vw;
}


.checkbtn {
    font-size: 10vh;
    float: right;

    cursor: pointer;

    display: none;
}

#check {
    display: none;
}

.vertical {
    display: grid;
    text-align: center;

}

#ordenimag {
cursor:pointer;
    display: flex;
    flex-direction: row;

}

#ordenimag h4 {
    font-size: 5vh;
    color: white;

}

#ordenimag h5 {
    margin-top: 10px;
    font-size: 3.5vh;
    color: #fcc219;

}

#ordenimag p {
    font-size: 2vh;
    color: #ff702a;

}
.paginas2 {
    width: 90%;
    height: 70vh;
    margin: 0px auto;
    border: 1px solid rgba(225, 225, 226, 0.8);
    box-shadow: 0px 0px 10px #cccccc;
    display: flex;
    flex-direction: row;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    
} 
.paginas2 div{

    background-image: url("fondos.jpg");
    background-size:80vh;
}
.paginas2 h1{

    font-size: 7vh;
    color: white;
margin-top: 100px;
    background-color:  #1a191f ;
    background-size:30vw;
    
}
.paginas2 button{
    margin: 5px ;

    border-color: 100px solid #fe3b72 ;
    background-color: #d6ac5a;
    color: black;
    font-size: 5vh;
    cursor: pointer;
    
}
#fondo2{
    border: 1px solid rgba(225, 225, 226, 0.8);
    margin: 30px;
    height: 40vh;
    padding: 30px;

   
}

#fondo2 h1{
margin-top: 60px;
}
#contacto {
    
    width: 90%;
    height: 30vh;
    margin: 0px auto;
    border: 1px solid rgba(225, 225, 226, 0.8);
    box-shadow: 0px 0px 10px #cccccc;
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-size: 7vh;
}
#contacto div {
    border: 1px solid rgba(225, 225, 226, 0.8);
    margin-left: 20px;
    list-style: none;
}
#contacto ul {
    list-style: none;
    font-size: 5vh;
    text-align: center;
}
#contacto li {
margin-top:2.5px;

}
#contacto a {
    font-size: 10px;
    padding: 5px;

    border: 1px solid #fe3b72;
    color: #fcc219;
    transition: all 300ms;
}
#contacto h2 {
    color: #fe3b72;
    }
    #menu1 a:hover {
        border: 2px solid #087f5b;
    
    }

@media (max-width: 720px) {
    .checkbtn {
        display: flex;
        margin-top: 10px;

    }

    ul {
        display: flex;
        position: fixed;
        width: 100%;
        height: 70vh;

        top: 10vh;
        left: 100%;
        text-align: center;
        flex-direction: row;
        transition: all .5s;
        justify-content: flex-start
        
    }

    ul li {
        display: block;
        margin: 10px 0;
        line-height: 30px;
    }

    ul li a {
        margin-left: 0px;
        font-size: 20px;
        
        margin-top: 50px;
        background-color: #4a1b33;
    }


    #check:checked~ul {
        left: 0;
    }


    #menu ul {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        list-style: none;
        height: 100%;
        height: 50vh;
        
        background-color:#4a1b33;
    }
    #menu a {
font-size: 2vh;
        margin: 0;
 }

 #laterali1 h1 {
text-align: center;
    font-size: 4vw;
 
}
#laterali1,
#laterali2 {
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: center;

}



#laterali2 h2 {
    margin-top: 20px;
    color: white;
    margin-left: 20px;

    font-size: 3vh;
    text-align: center;

}

#laterali2 h3 {
    color: #fe3b72;
    font-size: 4vh;
    margin-left: 20px;
    text-align: center;

}
#laterali2 p {
    color: white;
    font-size: 2.5vw;
    text-align: justify;

    margin: 20px;


}

#laterali1 h2 {
    margin-top: 10px;
    margin-left: 10px;
    color: white;
    font-size: 5vw;
    text-align: center;

}
#boton{
    display: flex;
    flex-wrap: wrap;
justify-content: center;
}


#laterali1 button,
#laterali2 button
 {
    margin: 20px ;

    border-color: 100px solid black ;
    background-color: #fcc219;
    color: black;
    font-size: 5vh;
    cursor: pointer;


}

.paginas  {   
    flex-direction: column;
    height: 70vh;
}
.paginas1  {   
    flex-direction:column-reverse;
    height: 100vh;
    text-align: center;
}

}