* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    font-size: 62.5%;
    background-color: #1e1d2b;
}

#contenedor {
    width: 90%;
    height: 100%;
    margin: 0px auto;
    border: 1px solid rgba(225, 225, 226, 0.8);
    box-shadow: 0px 0px 10px #cccccc;




}

#header {
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    margin: 0px auto;
    align-items: center;
    border-bottom: 1px solid rgba(225, 225, 226, 0.8);
}

#logo {
    width: 40%;
    flex-grow: 1;
    flex-basis: 50%;
    font-family: Helvetica;
    font-style: italic;
    font-size: xxx-large;
    padding: 10px;
    margin-left: 10px;
    text-transform: uppercase;
    color: #ff702a;

}

#menulogo {
    display: none;
}



#menu {
    flex-grow: 1;
    flex-basis: 40%;
    height: 100%;
    width: 30%;
    padding-right: 20px;
}

#menu>ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: right;
    list-style: none;
    height: 100%;
}

#menu a {
    text-transform: uppercase;
    color: white;
    font-size: 1rem;
    padding: 10px;
    transition: all 300ms;

}

#menu a:hover {
    border: 2px solid #087f5b;

}

.paginas {
    width: 90%;
    height: 90vh;
    margin: 0px auto;
    border: 1px solid rgba(225, 225, 226, 0.8);
    box-shadow: 0px 0px 10px #cccccc;
    display: flex;
    flex-direction: row;

}

.paginas div {

    width: 100%;
    align-items: center;
    align-content: center;
    margin: 0px auto;

    border: 1px solid rgba(225, 225, 226, 0.8);
    box-shadow: 0px 0px 10px #cccccc;


}

#laterali1,
#laterali2 {
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: center;

}

#laterali1 h1 {
    color: #ff702a;
    font-size: 7vw;
    text-align: left;

}

#laterali2 h2 {
    margin-top: 20px;
    color: white;
    font-size: 5vw;
    text-align: left;

}

#laterali2 h3 {
    color: #ff702a;
    font-size: 2.5vw;
    text-align: left;

}
#laterali2 p {
    color: white;
    font-size: 2.5vw;
    text-align: left;

}

#laterali1 h2 {
    margin-top: 20px;
    color: white;
    font-size: 5vw;
    text-align: left;

}



#laterali1 button,
#laterali2 button {
    margin-top: 20px;
    background-color: #ff702a;
    color: white;
    font-size: 4vw;


}




.imagenes {
    display: flex;
    justify-content: center;
    text-align: center;
}

img {
    text-align: center;
    justify-content: center;
    width: 50%;
    height: width;
}

.paginas1 {
    width: 90%;
    height: 100vh;
    margin: 0px auto;
    border: 1px solid rgba(225, 225, 226, 0.8);
    box-shadow: 0px 0px 10px #cccccc;
    display: flex;
    flex-direction: row;

}

.paginas1 div {

    width: 100%;
    align-items: center;
    align-content: center;
    margin: 0px auto;
    border: 1px solid rgba(225, 225, 226, 0.8);
    box-shadow: 0px 0px 10px #cccccc;

}

.paginas1 h3{
align-items: center;
    color: #ff702a;
    font-size: 2.5vw;
}
.paginas1 h2{
    align-items: center;
     color: white;
    font-size: 2.5vw;
}


.checkbtn {
    font-size: 10vh;
    float: right;

    cursor: pointer;

    display: none;
}

#check {
    display: none;
}

.vertical {
    display: grid;
    text-align: center;

}

#ordenimag {
cursor:pointer;
    display: flex;
    flex-direction: row;

}

#ordenimag h4 {
    font-size: 5vh;
    color: #ff702a;

}

#ordenimag h5 {
    font-size: 2vh;
    color: #ff702a;

}

#ordenimag p {
    font-size: 2vh;
    color: #ff702a;

}


@media (max-width: 720px) {
    .checkbtn {
        display: flex;
        margin-top: 10px;

    }

    ul {
        display: flex;
        position: fixed;
        width: 100%;
        height: 50vh;
        background: #2c3e50;
        top: 10vh;
        left: -100%;
        text-align: center;
        flex-direction: row;
        transition: all .5s;
        justify-content: flex-start
        
    }

    ul li {
        display: block;
        margin: 0px 0;
        line-height: 30px;
    }

    ul li a {
        font-size: 20px;
        margin-top: 50px;
        background-color: #2c3e50;
    }

    li a:hover,
    li a.active {
        background: green;
        color: red;
    }

    #check:checked~ul {
        left: 0;
    }


    #menu ul {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        list-style: none;
        height: 100%;
        height: 50vh;
        background-color: #2c3e50;
    }

}